@tailwind base;

@tailwind components;

body {
    height: 100%;
    z-index: 1;
}

.icon-xsm {
    @apply w-8 h-8 fill-current;
}

.icon-sm {
    @apply w-12 h-12 fill-current;
}

.icon-md {
    @apply w-16 h-16 fill-current;
}

.icon-lg {
    @apply w-24 h-24 fill-current;
}

.icon-xlg {
    @apply w-48 h-48 fill-current;
}

.bottom-rounded {
    border-radius: 0 0 68px 68px;
}

.bottom-rounded-inner {
    border-radius: 0 0 68px 68px;
}

.bottom-right-rounded {
    border-radius: 0 0 58px 0;
}

.bottom-rounded-window{
    border-radius: 0 0 24px 24px;
}

.fill-white {
    fill: #ffffff;
}

.window-size{
    width: 350px;
    height: auto;
}

.rounded-window{
    border-radius: 28px;
}

@tailwind utilities;