.react-datepicker {
    top:0;
    /*left:10%;*/
}

.react-datepicker-wrapper{
    display: flex;
    max-width: 200px;
}

.react-datepicker__input-container{
    border: 1px solid gray;
    border-radius: 5px;
    max-width: 200px;

}

.react-datepicker-ignore-onclickoutside{
    max-width: 200px;
    padding: 0;
}

.react-datepicker__input-container > input{
    outline: none;
    margin-left: 10px;
    padding: 2px;
}
